<%= form_with(model: candidatura, local: true) do |form| %>
  <% if candidatura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidatura.errors.count, "error") %> proibiu esta candidatura de ser salva:</h2>
      <ul>
        <% candidatura.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome_candidato %>
    <%= form.text_field :nome_candidato, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :nome_urna %>
    <%= form.text_field :nome_urna, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :turma_id %>
    <%= form.collection_select :turma_id, Turma.all, :id, :nome, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :vice_lider %>
    <%= form.text_field :vice_lider, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :nome_urna_vice %>
    <%= form.text_field :nome_urna_vice, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :foto_lider %>
    <%= form.file_field :foto_lider, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :foto_vice %>
    <%= form.file_field :foto_vice, class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
